* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	padding: 0;
	margin: 0;
  list-style: none;
}

body {
		line-height: 1.8em;
		font-size: 16px;
}

.width-90 > * {
  width: 90%;
  margin-left: 5%;
}


/* --------- Typografie styling  --------- */

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover,
a:active {
  color: #B2B0A4;
}

h1 {
  font-size: 30px;
}

.medium {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.dark-grey {
  color: #666666;
}

.color {
  color: #B2B0A4;
}

.size-20 {
  font-size: 20px;
}

.spacing {
  letter-spacing: 1.8px;
}

.big {
  font-size: 30px;
}

.hover-dark:hover {
	color: #595852;
}

.current-language {
	color: #B2B0A4;
}

/*  --------- logo styling  --------- */

.logo {
 font-weight: 300;
 width: 50%;
 font-size: 20px;
 min-width: 200px;
}

.logo-color {
 color: #B2B0A4;
}

/*  --------- Navigation bar  --------- */

/*  hamburger icoon */

.mobile-icon{
  position: absolute;
  right: 5%;
  top: 30px;
  font-size: 28px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

/* Navigation for mobile */

#mobile-nav,
#mobile-nav-selector {
  display: none;
}

nav {
  background-color: #101010;
  color: #FFFFFF;
}

.nav-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    flex-direction: column;

}

.nav-decoration {
  background-color: #B2B0A4;
  width: 100%;
  height: 22px;
}

.menu-items,
.language-selector  {
  display: none;
}

.menu-items * {
  margin-top: 40px;
  margin-bottom: 40px;
}

.language-selector * {
  margin-right: 5px;
}


/* Navigation for desktop */

@media (min-width: 900px) {

  .nav-container {
    flex-direction: row;
  }

  #mobile-nav,
  #mobile-nav-selector {
  display: flex !important;
  }

.mobile-icon {
  display: none;
}

  .menu-items {
    margin-right: 40px;
  }

  .menu-items * {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .language-selector {
    margin-right: 92px;
  }

  .language-selector * {
    margin-left: 5px;
    margin-right: 5px;
  }

}


/*  --------- Hero header section with CTA  --------- */

.hero-header {
  position: relative;
  margin-bottom: 120px;
}

.hero-img {
  width: 100%;
  background-image: url("img/kasteel-vroenhoven.jpg");
  background-size: cover;
  height: 790px;
  background-repeat: no-repeat;
}

.hero-block {
  background-color: white;
  position: absolute;
  width: 423px;
  height: 620px;
  top: 0px;
  right: 92px;
}

.hero-block * {
  width: 70%;
  margin: auto;
}

.light-button {
  background-color: white;
  border: 1px #B2B0A4 solid;
  border-radius: 2px;
  /* width: 80%; */
  height: 48px;
  color: #B2B0A4;
  position: absolute;
  left: 15%;
  bottom: 115px;
}

.light-button:hover {
	 background-color: #B2B0A4;
	 color: white;
}

.hero-text-1 {
  position: absolute;
  top: 147px;
  left: 15%;
  text-align: center;
}

.hero-text-2 {
  position: absolute;
  top: 235px;
  left: 15%;
  text-align: center;
}

.hero-text-3 {
  position: absolute;
  top: 292px;
  left: 15%;
  text-align: center;
}

.hero-ul {
  display: flex;
  position: absolute;
  top: 350px;
  left: 15%;
  text-align: center;
}

/* decoratie lijn onder kasteel te koop */

hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px !important;
    width: 57px !important;
    border: solid 1px #B2B0A4;
}

.house-icon {
  width: 25px;
  margin-right: 5px;
}

.tree-icon {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

/* Smaller font size on smallest screens */

@media (max-width: 470px) {

	.hero-text-2 {
		font-size: 20px;
	}

}

/* white header block centered on small screens */

@media (max-width: 800px) {

  .hero-block {
    width: 90%;
    height: 620px;
    top: 10%;
    max-width: 423px;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
  }

}

/*  --------- Impressie sectie  --------- */

#impressie {
	padding-top: 20px;
	margin-top: -50px;
}


.tour-nav {
  display: flex;
  flex-flow: wrap;
	flex-direction: row;
	justify-content: flex-start;
  margin-bottom: 60px;
  margin-top: 60px;
}

.tile {
	margin-top: 40px;
	margin-bottom: 100px;
	width: 100%;
}

.tour-nav input,
.tour-nav label {
	color: #666666;
  height: 45px;
	margin-right: 40%;
}

.tour-item-slider {
  width: 100% !important;
  margin-bottom: 50px;
}

.tour-item-text > * {
  padding-top: 5px;
  padding-bottom: 20px;
}

.tour-item-info * {
  display: inline-block;
  margin-right: 10%;
}

.slide-item {
	width: 100%;
	height: auto;
}



@media (min-width: 550px) {

	.tour-nav {
		flex-direction: row;
		justify-content: flex-start;
	}

	.tour-nav input,
	.tour-nav label {
		margin-right: 60px;
	}

}


@media (min-width: 1200px) {

  .tour-nav {
    max-width: 1300px;
		justify-content: space-between;
  }

  .tour-nav input,
	.tour-nav label  {
    width: auto;
    min-width: inherit;
		margin-right: 0;
  }

  .tour-item {
    display: flex;
  }

  .tour-item-slider {
    width: 65%;
    max-width: 715px;
  }

  .tour-item-text {
    margin-left: 60px;
    margin-top: 60px;
  }


 .tour-item-text > * {
   max-width: 350px;
 }


}


/* filter function voor kasteel tour  */

input[type="radio"] {
    display:none;
}

input[type="radio"][id="V1"]:checked ~ .V2,
input[type="radio"][id="V1"]:checked ~ .V3,
input[type="radio"][id="V1"]:checked ~ .V4,
input[type="radio"][id="V1"]:checked ~ .V5,
input[type="radio"][id="V1"]:checked ~ .V6 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type="radio"][id="V2"]:checked ~ .V1,
input[type="radio"][id="V2"]:checked ~ .V3,
input[type="radio"][id="V2"]:checked ~ .V4,
input[type="radio"][id="V2"]:checked ~ .V5,
input[type="radio"][id="V2"]:checked ~ .V6 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type="radio"][id="V3"]:checked ~ .V1,
input[type="radio"][id="V3"]:checked ~ .V2,
input[type="radio"][id="V3"]:checked ~ .V4,
input[type="radio"][id="V3"]:checked ~ .V5,
input[type="radio"][id="V3"]:checked ~ .V6 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type="radio"][id="V4"]:checked ~ .V1,
input[type="radio"][id="V4"]:checked ~ .V2,
input[type="radio"][id="V4"]:checked ~ .V3,
input[type="radio"][id="V4"]:checked ~ .V5,
input[type="radio"][id="V4"]:checked ~ .V6 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type="radio"][id="V5"]:checked ~ .V1,
input[type="radio"][id="V5"]:checked ~ .V2,
input[type="radio"][id="V5"]:checked ~ .V3,
input[type="radio"][id="V5"]:checked ~ .V4,
input[type="radio"][id="V5"]:checked ~ .V6 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

input[type="radio"][id="V6"]:checked ~ .V1,
input[type="radio"][id="V6"]:checked ~ .V2,
input[type="radio"][id="V6"]:checked ~ .V3,
input[type="radio"][id="V6"]:checked ~ .V4,
input[type="radio"][id="V6"]:checked ~ .V5 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* color active filter functie */

input[type="radio"]:hover + label {
		color: #B2B0A4;
}

input[type="radio"]:checked + label {
		color: #B2B0A4;
		font-weight: 500;
		position: relative;
}

/* decorative live under active item */

input[type="radio"]:checked + label::after {
	display: block;
	content: '';
	width: 100%;
	height: 1.5px;
	background: #B2B0A4;
	position: absolute;
	bottom: 15px;
	left: 0;
}


/* Pop up modal voor floorplan */

#myBtn:hover,
#myBtn1:hover,
#myBtn2:hover {
	color: #B2B0A4;
	cursor: pointer;
}

/* The Modal (pop up background) */
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  padding-top: 15%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Content van pop up */
.modal-content {
	margin: auto;
 	display: block;
	width: 80%;
  max-width: 700px;
}

.modal-content img {
	width: 100%;
	height: auto;
}

@media (min-width: 700px) {

	.modal {
	  padding-top: 60px;
	}

	.modal-content img {
		width: 80%;
		height: auto;
		margin-left: 10%;
	}

}

/* Close Button pop up */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

}

.close:hover,
.close:focus {
	color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/*  --------- Specificaties sectie  --------- */

#specificaties {
	padding-top: 20px;
	margin-top: -40px;
	margin-bottom: 60px;
}

.map {
  background-image: url("img/locatie-kasteel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 388px;
}

.specificatie-list-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F6F6F6;
}

.specificaties-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.specificaties-flexbox {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 60px;
}

.specificaties-list li {
  margin-bottom: 50px;
  margin-top: 50px;
}

.large-number {
  display: block;
  padding-bottom: 10px;
}

@media (min-width: 900px) {

  .specificatie-list-container {
    margin-top: -20px;
  }

  .specificaties-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .specificaties-flexbox {
    flex-direction: column;
  }

}


/*  --------- CTA sectie  --------- */

#contact {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	margin-top: -40px;
	margin-bottom: 140px;
}

.contact-img {
	width: 90%;
}

.contact-text {
	margin-top: 60px;
}

.contact-text * {
	margin-bottom: 50px;
}

.contact-text h1 {
	line-height: 40px;
}

.cta-button {
	width: 90%;
	max-width: 287px;
	height: 59px;
	background-color: #B2B0A4;
	color: white;
	border: none;
	text-align: left;
	padding-left: 30px;
	font-size: 16px;
	border-radius: 2px;
}

.cta-button:hover {
	background-color: white;
	color: #B2B0A4;
	border: 1px #B2B0A4 solid;
}


@media (min-width: 1200px) {

	#contact {
		flex-direction: row;
		padding-top: 100px;
		margin-top: -40px;
		margin-bottom: 160px;
	}

 	.contact-img {
		width: 90%;
		max-width: 720px;
	}

	.contact-text {
		max-width: 370px;
	}

}

/*  --------- Footer --------- */

footer {
	background: #101010;
	color: #B2B0A4;
	padding-top: 80px;
	padding-bottom: 160px;
	position: relative;
}

.footer-container {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.footer-container > * {
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 30px;
}

.footer-logo {
	width: 30%;
	color: white;
}

.footer-decoration {
	background-color: #B2B0A4;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
}

.footer-decoration li {
	margin-bottom: 10px;
	text-align: center;
}

.hide-on-mobile {
	display: none;
}

@media (min-width: 500px) {


	.footer-decoration {
		flex-direction: row;
		justify-content: center;
	}

	.hide-on-mobile {
		display: inline-block;
	}

	.footer-decoration li {
		display: inline-block;
		padding-right: 5px;
	  padding-left: 5px;
	}

}


@media (min-width: 900px) {

	.footer-container {
		width: 90%;
		max-width: 1200px;
		flex-direction: row;
		justify-content: space-between;
	}

	.footer-container > * {
		width: 30%;
	}

}


/* styling voor extreem grote schermen */

@media (min-width: 1500px) {

  .specificaties-flexbox {
    display: flex;
    flex-direction: column;
  }

  .nav-container {
    max-width: 1500px;
    margin: auto;
  }

  .width-90 {
    margin: 0 auto;
    max-width: 1500px;
  }

  .hero-block {
    right: 20%;
  }
}
