* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
	padding: 0;
	margin: 0;
  list-style: none;
}

body {
		line-height: 1.8em;
		font-size: 16px;
}

/* Typografie styling */

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover,
a:active {
  color: #B2B0A4;
}

h1 {
  font-size: 30px;
}

.medium {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

.color {
  color: #666666;
}

.size-20 {
  font-size: 20px;
}

.spacing {
  letter-spacing: 1.8px;
}

/* logo styling */

.logo {
 font-weight: 300;
 width: 50%;
 font-size: 20px;
 min-width: 200px;
}

.logo-color {
 color: #B2B0A4;
}


/*  interative hamburger icoon */

.mobile-icon{
  position: absolute;
  right: 5%;
  top: 30px;
  font-size: 28px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 4px);
  transform: rotate(-45deg) translate(-9px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -2px);
  transform: rotate(45deg) translate(-8px, -2px);
}


/* nav styling */

#mobile-nav,
#mobile-nav-selector {
  display: none;
}

nav {
  background-color: #101010;
  color: #FFFFFF;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  flex-direction: column;
}

.nav-decoration {
  background-color: #B2B0A4;
  width: 100%;
  height: 22px;
}

.menu-items,
.language-selector  {
  display: none;
}

.menu-items * {
  margin-top: 40px;
  margin-bottom: 40px;
}

.language-selector * {
  margin-right: 5px;
}



/* Navigation for desktop */

@media (min-width: 900px) {

  nav {
    flex-direction: row;
  }

  #mobile-nav,
  #mobile-nav-selector {
  display: flex !important;
  }

.mobile-icon {
  display: none;
}

  .menu-items {
    margin-right: 40px;
  }

  .menu-items * {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .language-selector {
    margin-right: 92px;
  }

  .language-selector * {
    margin-left: 5px;
    margin-right: 5px;
  }

}


/* Hero header */

.hero-header {
  position: relative;
}

.hero-img {
  width: 100%;
  background-image: url("img/test.jpg");
  background-size: cover;
  height: 790px;
  background-repeat: no-repeat;
}

.hero-block {
  background-color: white;
  position: absolute;
  width: 423px;
  height: 620px;
  top: 0px;
  right: 92px;
}

.hero-block * {
  width: 70%;
  margin: auto;
}


.light-button {
  background-color: white;
  border: 1px #B2B0A4 solid;
  border-radius: 2px;
  width: 80%;
  height: 48px;
  color: #B2B0A4;
  position: absolute;
  left: 15%;
  bottom: 115px;
}

.hero-text-1 {
  position: absolute;
  top: 147px;
  left: 15%;
  text-align: center;
}

.hero-text-2 {
  position: absolute;
  top: 235px;
  left: 15%;
  text-align: center;
}

.hero-text-3 {
  position: absolute;
  top: 292px;
  left: 15%;
  text-align: center;
}

.hero-ul {
  display: flex;
  position: absolute;
  top: 350px;
  left: 15%;
  text-align: center;
}

/* white hero block centered on small screens */

@media (max-width: 800px) {

  .hero-block {
    width: 90%;
    height: 620px;
    top: 10%;
    max-width: 423px;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
  }

}
